body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
.nav-links {
  display: flex;
  gap: 25px; 
}

.nav-links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #080808;
}

.homepage {
  top: 1px;
  position: absolute;
  left: 0;              
  right: 0;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  padding: 10px 50px;  
  background: rgba(202, 113, 113, 0.2);
  backdrop-filter: blur(8px);
}

.hero-section {
  position: relative;
  width: 100%;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
  z-index: 0;
}

.logo {
  width: 80px;
  height: auto;
  display: block;
}

.attractions-section {
  position: relative;        
  z-index: 1;                
  margin-top: 80px;      
  width: 90%;
  max-width: 1200px;
  background: rgba(255, 255, 255, 0.85); 
  padding: 40px 20px;
  border-radius: 15px;
  box-sizing: border-box;
  align-self: center;        
}

.attractions-section h2 {
  margin-top: 3px;
  text-align: center;
  font-size: 2rem;
  color: #272626;
  margin-bottom: 20px;
}

.attractions-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.attraction-card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: left;
}

.attraction-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}

.attraction-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.attraction-card h3 {
  margin: 15px;
  color: #333;
}

.attraction-card p {
  margin: 0 15px 15px 15px;
  color: #666;
  font-size: 0.95rem;
  line-height: 1.5;
}
