*{
  margin: 0;
  padding: 0;
}
.button {
  position: fixed;
  top: 20px;
  left: 40px;
  z-index: 1000;
}

.logo {
  width: 70px;
  transition: 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .logo {
    width: 45px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background: url(images/Dauin-Dumaguete-Apo-Diving-Philippines-Banner.jpg)
             center/cover no-repeat fixed;
}


.contact-card {
  transition: 0.4s;
  border-left: 6px solid #0d6efd;
}

.contact-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}

h4 {
  color: #0d6efd;
  font-weight: 600;
}

p {
  margin-bottom: 6px;
  font-size: 15px;
}

.container h2 {
  text-align: center;
}
.my-heading{
  color: white;
  margin-top: 50px;
}

.nav-links {
  display: flex;
  gap: 25px; 
}


.nav-links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #080808;
}

.homepage {
  top: 1px;
  position: absolute;
  left: 0;              
  right: 0;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  padding: 10px 50px;  
  background: rgba(202, 113, 113, 0.2);
  backdrop-filter: blur(8px);
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(60%);
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
