*{
  margin: 0;
  padding: 0;
}
.button {
  position: fixed;
  top: 20px;
  left: 40px;
  z-index: 1000;
}

.logo {
  width: 70px;
  transition: 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .logo {
    width: 45px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background: url(images/Dauin-Dumaguete-Apo-Diving-Philippines-Banner.jpg);
}

.contact-card {
  transition: 0.4s;
  border-left: 6px solid #0d6efd;
}

.contact-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}

h4 {
  color: #0d6efd;
  font-weight: 600;
}

p {
  margin-bottom: 6px;
  font-size: 15px;
}

.container h2 {
  text-align: center;
}
.my-heading{
  color: white;
}

