* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: url("images/group-pic.jpg") center/cover no-repeat fixed;
  color: white;
  min-height: 100vh;
}

.button {
  position: fixed;
  top: 20px;
  left: 50px;
  z-index: 1000;
}

.logo {
  width: 70px;
  transition: 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

.dev-section {
  margin-top: 20px; 
  width: 100%;
  min-height: auto; 
  padding: 50px 20px 50px; 
  text-align: center;
  backdrop-filter: blur(4px);
}

.dev-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 20px;
  justify-items: center;
  align-items: start;
}

.dev-title {
  font-size: 3rem;
  font-weight: 600;
  color: rgb(40, 27, 27);
  margin-bottom: 20px;
  margin-top: 15px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  letter-spacing: 1px;
  
}

.dev-card {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  max-width: 350px;
  backdrop-filter: blur(6px);
  color: white;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, background 0.3s ease;
}

.dev-card:hover {
  transform: translateY(-5px) scale(1.05);
  background: rgba(255, 255, 255, 0.3);
}

.dev-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 15px;
  border: 3px solid #0d6efd; 
}

.dev-card h3 {
  font-size: 1.3rem;
  font-weight: 550;
  margin-bottom: 5px;
  color: #050c01;
}

.dev-card p {
  margin-top: 5px;
  font-size: 1rem;
  color: #52e901;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .dev-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .dev-section {
    padding-top: 120px;
  }

  .dev-title {
    font-size: 2.2rem;
  }

  .dev-grid {
    grid-template-columns: 1fr;
  }

  .dev-img {
    height: 220px;
  }
}

@media (max-width: 480px) {
  .dev-img {
    height: 200px;
  }

  .dev-title {
    font-size: 2rem;
  }
}
