body, html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.homepage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  z-index: 5;
}

.logo {
  width: 80px;
  height: auto;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #080808;
}

.hero-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-top: 80px; 
  background: #111; 
}

.gallery-section {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto 50px auto;
  text-align: center;
}

.gallery-section h1 {
  color: #fdfbfb;
  font-size: 3rem;
  margin-bottom: 30px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.gallery img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.gallery img:hover {
  transform: scale(1.05);
  filter: brightness(80%);
}


@media (max-width: 600px) {
  .gallery img {
    height: 180px;
  }

  .homepage {
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }

  .gallery-section h1 {
    font-size: 2rem;
  }
}
