.nav-links {
  display: flex;
  gap: 50px;
}

.nav-links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #080808;
}

.homepage {
  top: 1px;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background: rgba(202, 113, 113, 0.2);
  backdrop-filter: blur(8px);
  z-index: 20;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(60%);
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.logo {
  width: 80px;
  height: auto;
  display: block;
}

.fa-section {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: rgb(250, 232, 232);
  z-index: 15;
  flex-wrap: wrap;
}

.fa-container {
  display: flex;
  width: 100%;
  gap: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fa-column {
  flex: 1 1 45%;
  min-width: 250px;
}

.fa-column h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.fa-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.fa-card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0,0,0,0.5);
  background: #00000020;
}

.fa-card img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  transition: 0.3s ease;
}

.fa-card:hover img {
  transform: scale(1.08);
  filter: brightness(60%);
}

.fa-info h3 {
  text-align: center;
  font-size: 18px;
}

.fa-info p {
  font-size: 13px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 900px) {
  .fa-section {
    top: 130px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .fa-container {
    flex-direction: column;
    gap: 25px;
  }

  .fa-column {
    width: 100%;
  }

  .fa-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .fa-card img {
    height: 180px;
  }
}

@media (max-width: 600px) {
  .fa-section {
    top: 160px;
    width: 95%;
  }

  .fa-grid {
    grid-template-columns: 1fr;
  }

  .fa-card img {
    height: 150px;
  }
}

@media (max-width: 400px) {
  .logo {
    width: 60px;
  }

  .nav-links a {
    font-size: 13px;
  }

  .fa-card img {
    height: 130px;
  }

  .fa-info h3 {
    font-size: 16px;
  }

  .fa-info p {
    font-size: 12px;
  }
}
