.nav-links {
  display: flex;
  gap: 25px; 
}


.nav-links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #080808;
}

.homepage {
  top: 1px;
  position: absolute;
  left: 0;              
  right: 0;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  padding: 10px 50px;  
  background: rgba(202, 113, 113, 0.2);
  backdrop-filter: blur(8px);
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(60%);
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.logo {
  width: 80px;
  height: auto;
  display: block;
}
.fa-section {
  position: absolute;
  top: 50px; 
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  color: white;
  z-index: 15;
}

.fa-container {
  display: flex;
  width: 100%;
  gap: 40px;
  justify-content: space-between;
}

.fa-column {
  width: 50%;
}

.fa-column h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
  text-shadow: 1px 1px 5px black;
}


.fa-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.fa-card {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

.fa-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: 0.3s ease;
}

.fa-card:hover img {
  transform: scale(1.08);
  filter: brightness(60%);
}

.fa-info h3 {
  font-size: 15px;
}

.fa-info p {
  font-size: 13px;
}
