body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.logo {
  width: 80px;
  height: auto;
  display: block;
}

.hero-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('images/Dauin-Dumaguete-Apo-Diving-Philippines-Banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.hero-img { display: none; }

.government-section {
  width: 90%;
  max-width: 1200px;
  background: rgba(188, 243, 242, 0.332);
  padding: 40px 20px;
  border-radius: 15px;
  margin-top: 100px; 
  z-index: 2;
  position: relative;
}

.homepage {
  top: 1px;
  position: absolute;
  left: 0;              
  right: 0;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  padding: 10px 50px;  
  background: rgba(202, 113, 113, 0.2);
  backdrop-filter: blur(8px);
}

.nav-links {
  display: flex;
  gap: 25px; 
}


.nav-links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #080808;
}


.government-section h2 {
  margin-top: 10px;
  text-align: center;
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 30px;
}

.officials-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.official-card {
  background: rgb(238, 230, 230);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  padding-bottom: 20px;
}

.official-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
}

.official-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.official-card h3 {
  margin: 15px 10px 5px 10px;
  color: #0e0e0e;
  font-size: 1.2rem;
}

.official-card p {
  margin: 0 15px;
  color: #751515;
  font-size: 0.95rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .homepage {
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }

  .official-card img {
    height: 180px;
  }
}
