body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.logo {
  width: 80px;
  height: auto;
  display: block;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(60%);
}

.homepage {
  top: 1px;
  position: absolute;
  left: 0;              
  right: 0;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  padding: 10px 50px;  
  background: rgba(202, 113, 113, 0.2);
  backdrop-filter: blur(8px);
}

.nav-links {
  display: flex;
  gap: 25px; 
}


.nav-links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #080808;
}

.welcome {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  text-align: center;
  color: white;
}

.welcome h1 {
  font-size: 5rem;
  font-weight: 600;
  text-shadow: 0 0 10px black;
}

.welcome p {
  margin-top: 10px;
  font-size: 1.2rem;
  text-shadow: 0 0 10px black;
  line-height: 1.7;
}

@media (max-width: 900px) {
  .nav-links {
    gap: 15px; 
  }
  .nav-links a {
    font-size: 14px;
    margin-left: 0;
  }
  .welcome h1 {
    font-size: 2.5rem;
  }
  .welcome p {
    font-size: 1rem;
    width: 90%;
  }
}


@media (max-width: 600px) {
  .homepage {
    flex-direction: column;
    padding: 10px 20px; 
    align-items: center;
  }

  .logo {
    margin-bottom: 10px; 
  }

  .nav-links {
    flex-direction: column; 
    gap: 10px;             
    text-align: center;
    margin-top: 0;        
  }

  .nav-links a {
    display: block;
    margin: 0; 
  }
}


